%h2 Zdjęcia

-@i=0
%table
  %tr   
    -@photos.each do |photo|
      %td
        %a{:href => photo_path(photo)}= image_tag photo.picture.url(:medium)
        -if((current_user != nil) and (current_user.is_admin == true))
          %center
            =link_to 'Usuń', photo, method: :delete, data: { confirm: 'Jesteś pewien?' }
        -else
          %br
          %br
        -@i+=1
        -if(@i%5 == 0)
          -@i=0;
          %tr
          %br
  
%br
%br

= will_paginate @photos
