%h2 Kategorie

%br

-@categories.each do |category|

   %h3= link_to category.name, category
   %p
   -category.photos.created_last_5.each do |photo|
      %a{:href => photo_path(photo)}= image_tag photo.picture.url(:small)
   %p 
   %a{:class => "btn btn-primary btn-large", :href => "categories/" + category.id.to_s} Więcej &raquo;
   %br

= will_paginate @categories