%p{:id=> "notice"} 
  =notice

%p
  %h2= @category.name

-if(true == true)  
  = link_to 'Edytuj', edit_category_path(@category)  
    

-if(true == true)  
  = link_to 'Usuń', @category, method: :delete, data: { confirm: 'Jesteś pewien?' }  
%br   

-if(@category.photos != nil)  
  -@photos=@category.photos.order('created_at DESC')
  -@i=0  
  -@photos.each do |photo|
    %a{:href => '/photos/' + photo.id.to_s}= image_tag photo.picture.url(:medium)
    -@i+=1
    -if(@i%5 == 0)
      -@i=0;
      %br
%br  